$onebox-background: #4B5361;

aside.hb-onebox {
  background: $onebox-background;
  display: flex;
  max-width: 600px;
  border-radius: 4px;
  border: 0;
  padding: 0;

  .badge-notification.clicks {
    background-color: #5E6674;
  }
}
.hb-onebox-poster {
  width: 170px;
  flex: none;
  overflow: hidden;
  border-radius: 4px 0 0 4px;

  &> img {
    width: 100%;
    height: auto;
  }
}
.hb-onebox-info {
  padding: 22px 26px;
}
h1.hb-onebox-header {
  color: #ACB4BF;
  font-size: 15px;
  margin: 0;

  &> a {
    color: inherit;
  }
}
.hb-onebox-rating {
  color: #F49D00;
  margin: 11px 0 16px 0;
}
.hb-onebox-synopsis {
  color: #C0CAD7;
  font-size: 12px;
  position: relative;
  max-height: 19px * 5;
  overflow: hidden;

  .hb-onebox-readmore {
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to left, $onebox-background 10%,
                                         $onebox-background 90%,
                                         rgba($onebox-background, 0));
    padding-left: 20px;
    color: #F87765;
  }
  .hb-onebox-readmore-more {
    display: inline;
  }
  .hb-onebox-readmore-less {
    display: none;
  }
}
.hb-onebox-synopsis-open {
  max-height: none;
  padding-bottom: 19px;

  .hb-onebox-readmore-more {
    display: none;
  }
  .hb-onebox-readmore-less {
    display: inline;
  }
}
.hb-onebox-genres {
  margin: 8px 0 16px;
}
.hb-onebox-genre {
  display: inline-block;
  padding: 1px 7px;
  text-transform: uppercase;
  background-color: #5E6674;
  font-size: 10px;
  color: white;
  margin-right: 4px;
  border-radius: 3px;
  margin-bottom: 4px;
}
.hb-onebox-library-entry {
  $green: #00A186;

  background-color: $green;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  cursor: pointer;
  height: 20px;
  min-width: 100px;
  transition: .1s background-color;

  &:hover {
    color: white;
    background-color: darken($green, 10%);
  }
}
